body{
    background-color: #3d9b7d;
}
*{
    color: white;
}

.first{
    background-color: rgba(0, 128, 0, 0.5);
}

.second{
    background-color: hsl(0, 0%, 75%);
}

.third{
    background-color: rgb(0, 0, 255);
}